body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  color: #333333;
  background-color: #fcfcfc;
}

#heading {
  display: flex;
  text-align: center;
  margin: auto;
  justify-content: space-around;
  width: auto;
}

#box1 {}

#box1>div>h1 {
  font-size: 32px;
}

#box2 {
  display: flex;
  gap: 10px;
  width: auto;
}

#box2>div {
  margin: auto;
}

#box2>div>img {
  width: 34px;
  height: 30px;
  border-radius: 50px;
}

#box2>div>button {
  font-size: 15px;
  border-radius: 20px;
  background-color: #20c933;
  color: white;
  border: 1px solid green;
}

#head2 {
  /* border: 1px solid red; */
  text-align: center;
}

#workspace {
  margin-top: 40px;
  display: grid;
  /* border: 1px solid red; */
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

#workspace>div {
  margin: auto;
}

#workspace>div>button {
  font-size: 15px;
  border-radius: 20px;
  border: 0px;
  padding: 20px;
  color: #333333;
}