* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#container {
    height: auto;
    background-color: #f0f6ff;
}

#first-container {
    display: flex;
    background-color: #f0f6ff;
    margin-top: 30px;
}

#main {
    height: auto;
    width: 80%;
    padding-top: 20px;
    display: grid;
    padding-left: 20px;
    margin-left: 5%;
}

p {
    color: #1a3866;
}

#first {
    width: 70%;
    margin-left: 15%;
}

#main button {
    background-color: #0768f8;
    color: #ffffff;
    font-size: 15px;
    padding: 1px;
}

#company-logos {
    display: flex;
    margin-top: 80px;
}

#brands {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: auto;
    padding-left: 10%;
}

#company-logos div p {
    width: 70%;
    color: #333333;
    font-size: 20px;
    margin: auto;
    text-align: start;
    padding: 20px;
}

#brands img {
    width: 10%;

}

.side {
    color: black;
}

#by-section {
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
}

.github::before {
    content: "";
    width: 5px;
    height: 100%;
    background-color: #04454d;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.6s all;
}

#second-section {
    height: auto;
    margin-top: 30px;
}

.github {
    width: 29%;
    height: 100px;
    margin: auto;
    border-radius: 5px;
}

#video-section {
    display: flex;
    margin-top: 100px;
}

#video-pic {
    margin-left: 210px;
}

#para {
    margin-left: 100px;

}

.heading {
    width: 150%;
    height: 80px;
    color: black;
    word-spacing: 2px;
}

#para h2 {
    width: 120%;
    height: 100px;
}

a+p {
    width: 47%;
    text-align: center;
    margin: auto;
    color: black;
}

#main-airtable {
    background-color: #f0f6ff;

}

#airtable {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 100px;
}

.row {
    width: 80%;
    margin: auto;
    font-size: 20px;
    height: 200px;
    color: #333840;
}

#app-images {
    display: flex;
}

#app-images img {
    margin: auto;
    box-sizing: border-box;
}

#trust-main {
    padding-bottom: 08%;
    margin-top: 95px;
}

#trust h2 {
    width: 30%;
    margin: auto;
    letter-spacing: 1px;
    margin-left: 11%;
}

#trust p {
    width: 10%;
    height: 20px;
    margin-left: px;
    text-align: start;
    margin-left: 135px;
    line-height: 1.5em;
}

#learn {
    width: 60%;
    margin-left: 200px;
    text-align: end;
    font-size: 18px;
}

.div-class {
    color: #333840;
    width: 85%;
    margin: auto;
}

#headache {
    width: 80%;
    height: 300px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto);
    background-color: #ffffff;
    border-radius: 10px;
}

.p-color {
    color: #535965;
}

#service {
    display: flex;
    margin-top: -15px;

}

#service img {
    height: 450px;
    margin-top: 20%;
    box-sizing: border-box;
    padding: 0%;
    display: block;
    object-fit: cover;
    border-radius: 5px;
    border: 2px solid black;
}

#long-para {
    width: 100%;
    height: 100px;
    font-size: 20px;
    color: #333840;
}

#service>div {
    margin: auto;
    width: 40%;
    gap: 10px;
}

span {
    color: #1b61c9;
}

#service p {
    width: 110%;
}

#innovative-div {
    font-size: 25px;
    display: flex;
    width: 100%;
    margin: auto;
    background-color: #1a3866;
    color: #95befc;
}

#innovative-sec {
    height: 100px;
    padding: 30px;
    justify-content: space-between;
    margin: auto;
    width: 80%;
    background-color: #1a3866;
    border-radius: 8px;
}

#leader {
    margin-top: 55px;
    height: 200px;
    display: flex;
}

.border {
    height: px;
    border: 2px solid black;
    border-radius: 8px;
    padding-top: 10px;
    padding: 3px;
    width: 25%;
    margin: auto;
    background-color: #ffffff;
}

.border img {
    width: 50%;
}

.border p {
    padding-bottom: 5px;
    padding: 4px;
    color: #181d26;

}

#industry {
    color: #181d26;
    margin: auto;
    text-align: center;
    margin-top: 5%;
    font-size: 30px;
    background-color: #f0f6ff;
}

#enterprise-container {
    margin-top: 50px;
    width: 100%;
    height: 800px;
    background-color: #1a3866;
}

#enterprise-section {
    display: flex;
    width: 80%;
    height: 300px;
    border-radius: 5px;
    height: 500px;
    margin: auto;
    margin-top: 60px;
    background-color: #ffffff;

}

#last-sec {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 70px;
}

#last-sec h2 {
    width: 50%;
    color: #ffffff;
    text-align: start;
    font-size: 25px;
}

#last-sec button {
    width: 16%;
    background-color: #0768f8;
    color: #ffffff;
    height: 30px;
    margin: auto;
    margin-right: 10px;
    border-radius: 8px;
}

.success {
    width: 75%;
    line-height: 1.8em;
    padding-bottom: 15px;
    margin-left: 70px;
}

#workspace {
    width: 60%;
    height: 360px;
    margin-left: 5%;
    padding-top: 20px;
}

#left li {
    color: #333333;
    line-height: 2.8em;
    font-size: 16px;
    letter-spacing: 1%;
}

#last-button button {
    margin: auto;
    border-radius: 5px;
    color: #1a3866;
    margin-top: 60px;
    margin-right: 50px;
    background-color: #cce0fe;
}
* {
    font-family: HaasText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}