body {
  font-family: apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-image: url(/image/signuplogo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#main {
  background-color: white;
  width: 640px;
  border-radius: 10px;
  margin: auto;
  height: 720px;
}

#logo {
  width: 100%;
  background-color: #f2f2f2;
  color: #333333;
  margin: auto;
  gap: 0px;
  margin-top: 100px;
  border-radius: 10px 10px 0px 0px;
}

#logo > div {
  align-items: center;
  display: flex;
  margin: auto;
  justify-content: center;
}
#logo > div > img {
  background-color: transparent;
}
#header {
  text-align: center;
  width: 100%;
  margin: auto;
  margin-top: 30px;
}
form {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 350px;
  width: 80%;
  justify-content: space-evenly;
}
form > div {
  height: fit-content;
}
form > div > input {
  width: 100%;
  font-size: 18px;
}
#submit {
  font-size: 20px;
  padding: 8px;
  border-radius: 10px;
  border: 0px;
  background-color: #4285f4;
  color: white;
}
