body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#container {
  /* border: 1px solid red; */
  text-align: center;
  background-color: #1a3866;
  color: #e0e2e6;
}
#container > h1 {
  font-size: 80px;
  line-height: 88px;
}
#container > p:nth-child(2) {
  font-size: 32px;
  line-height: 40px;
  width: 60%;
  /* border: 2px solid blue; */
  margin: auto;
}
#container > p:nth-child(3) {
  font-size: 20px;
  line-height: 30px;
  /* border: 1px solid green; */
}
#main {
  background-color: #cce0fe;
}
#container2 {
  /* border: 1px solid black; */
  width: 80%;
  margin: auto;
}
#head {
  /* border: 1px solid red; */
}
#head > p {
  /* border: 1px solid greenyellow; */
  font-size: 42px;
  font-weight: 600;
  line-height: 40px;
  color: #586273;
}
#c2b1 {
  display: flex;
  justify-content: space-between;
  /* border: 9px solid aqua; */
}
#air {
  /* border: 3px solid rebeccapurple; */
  width: 50%;
}
#air > h2 {
  margin-top: -20px;

  font-size: 64px;
  color: #454e5c;
}
#para {
  /* border: 3px solid black; */
  width: 40%;
}
#para > p {
  font-size: 24px;
  color: #586273;

  line-height: 31.2px;
}
* {
  font-family: HaasText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.container3 {
  /* border: 1px solid red; */
  background-color: #f2f4f7;
  margin-bottom: -250px;
}

.flexset {
  /* border: 1px solid green; */
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 120px;
  width: 69%;
}
.title > h2 {
  font-size: 48px;
  line-height: 55.2px;
  color: #181d26;
}
.p1 {
  /* border: 1px solid red; */
  margin-top: -2%;
}
.p1 > p {
  margin-top: -2%;
  font-size: 20px;
  line-height: 27px;
  color: #444444;
  font-weight: 600;
}
.c3b1 {
  /* border: 1px solid green; */
  width: 30%;
  height: fit-content;
}
.p2 {
  /* border: 1px solid green; */
  margin-top: 48px;
}
.p2 > p {
  color: #1b61c9;
}
.c3b2 {
  height: auto;
  /* border: 1px solid red; */
}
.c3b2 > img {
  height: 640px;
  width: 640px;
  border-radius: 35px;
}
#solutions {
  margin-top: 200px;
  /* border: 9px black; */
  display: grid;
}
.title > h2 {
  /* border: 1px solid red; */
}
