body{
    background-image: url(../image/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.mainDiv{
    border: 1px solid;
    width: 30%;
    background-color:rgb(0, 255, 247);
    border-radius: 10px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    opacity: 0.9;
    box-shadow: rgb(8, 0, 255) 0px 5px 15px;
    /* position; */
}
.mainDiv input{
    width: 100%;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: rgb(64, 213, 38) 0px 5px 15px;
}
.mainDiv>h1{
    font-family: sans-serif;
    color: black;
}